{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>

        <div class="containerKarnet">
            <div class="carnets">
 {% if request.user.account.pass_expire %}
 <div class="online">{{delta}} days of passeth hath left</div>
{% else %}<div class="offline">Thee has't not a passeth!</div>
{% endif %}
     <div class="col-md-10 col-12">

                <button class="box btn custom-btn mt-3"> <a href="/cart" class="fa fa-shopping-cart icon "><div class="bg-overlay"></div></a></button>
               <button class="box btn custom-btn mt-3"> <a href="/passes" class="fa fa-ticket-alt icon"><div class="bg-overlay"></div></a></button>
               <button class="box btn custom-btn mt-3"> <a href="/your-classes" class="fa fa-users icon"><div class="bg-overlay"></div></a></button>
                <button class="box btn custom-btn mt-3"> <a href="/bought" class="fa fa-clipboard-check icon"><div class="bg-overlay"></div></a></button>
                <button class="box btn custom-btn mt-3"> <a href="/trainers" class="fas fa-dumbbell icon"><div class="bg-overlay"></div></a></button>
                <button class="box btn custom-btn mt-3"> <a href="/dieticians" class="fa fa-utensils icon"><div class="bg-overlay"></div></a></button>
       </div></div>
   </div> </section>
{%endblock%}
