{%extends 'index.html'%}
{%block content%}
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center">

                                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="600">SIEMA</h1>

                                    <a href="/login" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Sign in</a>

                                    <a href="/login" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">Sign up</a>

                              </div>
                         </div>

                    </div>
               </div>
     </section>
{%endblock%}