{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
    <div class="containerKarnet">
            <div class="carnets">
                <div class="text-danger"><h1>Thy products</h1></div>
<div class="diets">
    <div class="text-white"><h2>Diets: </h2>
    {% for diet in diets %}
        <div class="class">
            <p>{{diet.title}}</p>
            <p>{{diet.description}}</p>
            <a href="{{diet.file.url}}"><p>Download</p></a>
        </div>
    {% empty %}
        <p>Th're art nay diets!</p>
    {% endfor %}
    </div>
</div>
<div class="trainings">
    <div class="text-white"><h2>Trainings: </h2>
    {% for training in trainings %}
        <div class="training">
            <p>{{training.title}}</p>
            <p>{{training.description}}</p>
            <a href="{{training.file.url}}"><p>Download</p></a>
        </div>
    {% empty %}
        <p>Th're art nay trainings!</p>
    {% endfor %}
</div></div></div></div></section>
{%endblock%}