{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
    <div class="containerKarnet">
            <div class="carnets">
<div class="text-danger"><h1>CART</h1></div>
<div class="cart">
    <div class="cart-product">
       <div class="text-white"> <h2>Pass: </h2></div>
        {% if pass %}
            <p>{{pass.duration}} days</p>
            <p>{{pass.cost}}$</p>
            <p><a href="{{pass.get_remove_from_cart_url}}">Remove</a></p>
        {% else %}
            <p>Thee has't nay passeth in cart!</p>
        {% endif %}</div>
    <div class="diets">
        <div class="text-white"><h2>Diets: </h2></div>
        {% for diet in diets %}
            <div class="cart-product">
                <p>{{diet.title}}, {{diet.author}}</p>
                <p>{{diet.description}}</p>
                <p>{{diet.cost}}$</p>
                <p><a href="{{diet.get_remove_from_cart_url}}">Remove</a></p>
            </div>
        {% empty %}
            <p>Thee has't nay diet in cart!</p>
        {% endfor %}
    </div>
   <div class="text-white"> <div class="trainings"></div>
        <h2>Trainings: </h2>
        {% for training in trainings %}
            <div class="cart-product">
                <p>{{training.title}}, {{training.author}}</p>
                <p>{{training.description}}</p>
                <p>{{training.cost}}$</p>
                <p><a href="{{training.get_remove_from_cart_url}}">Remove</a></p>
            </div>
        {% empty %}
            <p>Thee has't nay training in cart!</p>
        {% endfor %}
    </div>
    <div class="cart-cost">
        <p>Cost: {{cost}}$</p>
       <div class="text-danger"> <form action="/order"></div>
            <input type="submit" value="Order"/>
        </form>
    </div>
</div></div></div>
</section>
{%endblock%}