{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>

             <div class="hero-text mt-5 text-center">

    <div class="containerBuy">

<div class="trainers text-danger">

    <h1>Trainers:</h1>

    {% for trainer in queryset %}
        <div class="trainer">
              <div class="box"><div class="boxIN">
            <h3>{{trainer.first_name}} {{trainer.last_name}}</h3>
            <a href="{{trainer.account.get_trainer_absolute_url}}" class="btn custom-btn">SELECT</a>
        </div></div></div>
    {% empty %}
        <p>Th're art nay traineth'rs!</p>
    {% endfor %}
</div>
</section>
{%endblock%}