{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
       <div class="hero-text mt-5 text-center">

    <div class="containerBuyv">
        <div class="text-danger"><h1>{{object.first_name}} {{object.last_name}}</h1></div>
<div class="classes text-white">

    <h2>Classes: </h2>
    {% for class in classes %}
        <div class="diet">
            <p>{{class.title}}</p>
            <p>{{class.description}}</p>
            <p>{{class.date}}</p>
            <p>{{class.signed.count}}/{{class.max}}
            {% if request.user in class.signed %}
                <a href="{{class.get_leave_url}}">X</a>
            {% else %}
                <a href="{{class.get_join_url}}">+</a>
            {% endif %}
            </p>
        </div>
    {% empty %}
        <p>This traineth'r doesn't has't any classes!</p>
    {% endfor %}
</div>
   <div class="text-white"> <h2>Trainings: </h2></div>
    {% for training in trainings %}
        <div class="diet">
            <p>{{training.title}}</p>
            <p>{{training.description}}</p>
            <p>{{training.cost}}</p>
            <p><a href="{{training.get_add_to_cart_url}}">Add</a></p>
        </div>
    {% empty %}
        <p>This traineth'r doesn't selleth any trainings!</p>
    {% endfor %}
        </div></div>
</section>
{%endblock%}