{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
<h1>{{object.first_name}} {{object.last_name}}</h1>
<div class="classes">
    <h2>Classes: </h2>
    {% for class in classes %}
        <div class="class">
            <p>{{class.title}}</p>
            <p>{{class.description}}</p>
            <p>{{class.date}}</p>
            <p>{{class.signed.count}}/{{class.max}}
            {% if request.user in class.signed %}
                <a href="{{class.get_leave_url}}">X</a>
            {% else %}
                <a href="{{class.get_join_url}}">+</a>
            {% endif %}
            </p>
        </div>
    {% empty %}
        <p>This trainer doesn't have any classes!</p>
    {% endfor %}
</div>
<div class="trainings">
    <h2>Trainings: </h2>
    {% for training in trainings %}
        <div class="training">
            <p>{{training.title}}</p>
            <p>{{training.description}}</p>
            <p>{{training.cost}}</p>
            <p><a href="{{training.get_add_to_cart_url}}">Add</a></p>
        </div>
    {% empty %}
        <p>This trainer doesn't sell any trainings!</p>
    {% endfor %}
</div>
</section>
{%endblock%}