{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
     <div class="hero-text mt-5 text-center">
         <div class="mamdosc">
<div class="calendar">
    {% for week in cal %}
    <div class="week">
        {% for day in week %}
            {% if day == today %}
                <a href="/day/{{year}}/{{month}}/{{day}}"><input type="button" class="today" value="{{day}}"/></a>
            {% elif day == 0 %}
                <div class="noday"></div>
            {%elif day < today%}
                <input type="button" class="yesterday" value="{{day}}"/>
            {% else %}
                <a href="/day/{{year}}/{{month}}/{{day}}"><input type="button" class="day" value="{{day}}"/></a>
            {%endif%}
        {% endfor %}
    </div>
    {%endfor%}
</div></div></div></section>
{%endblock%}
