{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
    <div class="containerBuy">
     <div class="hero-text mt-5 text-center">
        <div class="text-danger"> <h3>Dostepne zajecia:</h3></div>
         <div class="text-white">
<div class="box"><div class="boxIN">
    {{object.title}} {{object.trainer}}
    </br>
    {{object.description}}
    </br>
    {{object.date}}
    </br>
    {{object.signed.count}}/{{object.max}}
    {% if is_signed %}
        <a href="{{object.get_leave_url}}">X</a>
    {% else %}
        <a href="{{object.get_join_url}}">+</a>
    {% endif %}</div>
    </div></div>
</div></div></section>
{%endblock%}
