{%extends 'index.html'%}
{%block content%}
</br></br></br></br>
<h1>{{day}}.{{month}}.{{year}} classes:</h1>
{% for class in classes%}
    <p>{{class.title}}</p>
    <p>{{class.trainer}}</p>
    <p>{{class.description}}</p>
    {{class.signed.count}}/{{class.max}}
    {% if request.user in signed %}
        <a href="{{class.get_leave_url}}">X</a>
    {% else %}
        <a href="{{class.get_join_url}}">+</a>
    {% endif %}
{% empty %}
        <p>Th're art nay classes!</p>
{% endfor %}
{%endblock%}
