{%extends 'index.html'%}
{%block content%}
<section class="heroska">
    <div class="bg-overlay"></div>
    <div class="containerKarnet">
            <div class="carnets">
                <div class="text-danger"><h1>Your classes: </h1></div>
<div class="past">
    <div class="text-white"><h2>Thy did finish classes:</h2>
    {% for class in past %}
        <div class="class">
            {{class.title}} {{class.trainer}}
            </br>
            {{class.description}}
            </br>
            {{class.date}}
        </div>
    {% empty %}
        <p>Th're art nay classes!</p>
    {% endfor %}
</div></div>
<div class="future">
    <div class="text-white"><h2>Future classes:</h2>
    {% for class in future %}
        <div class="class">
            {{class.title}} <a href="{{class.trainer.account.get_trainer_absolute_url}}">{{class.trainer}}</a>
            </br>
            {{class.description}}
            </br>
            {{class.date}}
            </br>
            {{class.signed.count}}/{{class.max}}
            <a href="{{class.get_leave_url}}">X</a>
        </div>
    {% empty %}
        <p>Th're art nay classes!</p>
    {% endfor %}
</div></div></div></div></section>
{%endblock%}